.navbar__link--logout {
  border: none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.navbar__link--logout:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .navbar__link--logout {
    width: auto;
    text-align: inherit;
  }
}
